body {
    background-color: antiquewhite;
}

#mainTitle {
    font-family: Playfair;
    font-size: 4rem;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 1%;
}

/* #mainHeader {
    background-image:
    linear-gradient(to top, rgba(85, 55, 11, 0.52), rgba(153, 136, 127, 0.73)), 
    url('./images/books-header.jpg')
} */

p#subTitle {
    font-family: Playfair;
    text-align: center;
    margin-top: 0;
    font-size: .9rem;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  
    list-style: none;
    margin: 0; 
    padding: 0;
}

/* .navigation > li > a {
    color: white;
} */

.navigation a {
    font-family: Playfair;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    gap: 1.5%;
    margin: 0 7.5%;
}







/* NAVIGATION BAR, REACTIVE */

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}





/* CSS FOR ITEMS */

.item {
    text-align: center;
    position: relative;
}

.item:hover {
    filter: brightness(.5);
}

.item > p {
    color: white;
    position: absolute;
    bottom:0;
    left: 0;
    margin-left: 20px;
}

#item-1 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/eco_portrait.jpg');
    grid-column: span 3;
    grid-row: span 6;
    text-align:end;
    font-size: 2.5rem;
}

#item-2 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/book_name_of_the_rose.jpg');
    grid-column: span 3;
    grid-row: span 2;
    font-size: 2rem;
}

#item-3 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/book_foucaults_pendulum.jpg');
    grid-column: span 3;
    grid-row: span 2;
    font-size: 2rem;
}

#item-4 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/book_baudolino.jpg');
    grid-column: span 3;
    grid-row: span 2;
    font-size: 2rem;
}

#item-5 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/dostoyevsky.jpg');
    grid-column: span 6;
    grid-row: span 2;
    font-size: 2.5rem;
}

#item-6 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/book_travel2.jpg');
    grid-column: span 6;
    grid-row: span 3;
    font-size: 2.5rem;
}

#item-7 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/book_children_of_time_series.png');
    grid-column: span 2;
    grid-row: span 3;
    font-size: 1.8em;
}

#item-8 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/book_kafka_on_the_shore.jpg');
    grid-column: span 2;
    grid-row: span 3;
    font-size: 1.8rem;
}

#item-9 {
    background-image: 
    linear-gradient(to bottom, rgba(94, 96, 107, 0.52), rgba(7, 7, 7, 0.73)),
    url('./images/book_misery.jpg');
    grid-column: span 2;
    grid-row: span 3;
    font-size: 1.8rem;
}

#footy {
    grid-column: span 6;
}

.scroll-placeholder {
    grid-column: span 6;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }

  #section04 a {
    padding-top: 60px;
  }
  #section04 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid black
    border-bottom: 1px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }

  .demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: black;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }